ion-select {
  /* Applies to the value and placeholder color */
  color: #5202ca;

  /* Set a different placeholder color */
  --placeholder-color: red;

  /* Set full opacity on the placeholder */
  --placeholder-opacity: 1;
}