<ion-content class="ion-padding">
  <ion-content [fullscreen]="true" class="container">
    <ion-header collapse="condense">
     </ion-header>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Um lembrete <b>SUPER</b> importante...</ion-card-title>
      </ion-card-header>
  
      <ion-card-content id="frase">Deixe um intervalo entre uma atividade e outra!</ion-card-content>
    </ion-card>
 
    <ion-button color="secondary" (click)='funcButton()' class="ButtonPosition"> Clique aqui para outra dica valiosa</ion-button>

</ion-content>