<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="font-size: 25px; text-align: center;">
      YourTask <ion-icon style="font-size: 25px;" class="ion-align-items-center" name="finger-print-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="fazer">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label>A Fazer</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="dicas">
        <ion-icon name="hand-left-outline"></ion-icon>
        <ion-label>Dicas</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>